name: MacOS Build

on:
  push:
    branches: [ dev, itk_update ]
    tags:
      - v*
  pull_request:
    branches: [ dev ]
  workflow_dispatch:

jobs:
  build:
    name: Build and upload artefact
    strategy:
      # max-parallel: 1
      matrix:
        os: [macos-latest, macos-13]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        # os: [macos-13]
        # python-version: ["3.10"]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-tags: true

    - name: Set up python versions ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Detect if arm and set build variables
      if: runner.arch == 'ARM64' || runner.arch == 'ARM64'
      run: |
        APPLE="ON"
        echo "APPLE=${APPLE}" >> $GITHUB_ENV
        APPLE_ARM64="ON"
        echo "APPLE_ARM64=${APPLE_ARM64}" >> $GITHUB_ENV
        MACOSX_DEPLOYMENT_TARGET="14.0"
        echo "MACOSX_DEPLOYMENT_TARGET=${MACOSX_DEPLOYMENT_TARGET}" >> $GITHUB_ENV
        _PYTHON_HOST_PLATFORM="macosx-14.0-arm64"
        echo "_PYTHON_HOST_PLATFORM=${_PYTHON_HOST_PLATFORM}" >> $GITHUB_ENV
        ARCHFLAGS="-arch arm64"
        echo "ARCHFLAGS=${ARCHFLAGS=}" >> $GITHUB_ENV
        PYTHON_VERSION_STR=$(python -c "import sys;print(f'cp{sys.version_info.major}{sys.version_info.minor}')")
        echo "PYTHON_VERSION_STR=${PYTHON_VERSION_STR}" >> $GITHUB_ENV
        CMAKE_OSX_ARCHITECTURES="arm64"
        echo "CMAKE_OSX_ARCHITECTURES=${CMAKE_OSX_ARCHITECTURES}" >> $GITHUB_ENV

    - name: Detect if x64 and set build variables
      if: runner.arch == 'x64'
      run: |
        APPLE="ON"
        echo "APPLE=${APPLE}" >> $GITHUB_ENV
        APPLE_ARM64="OFF"
        echo "APPLE_ARM64=${APPLE_ARM64}" >> $GITHUB_ENV
        MACOSX_DEPLOYMENT_TARGET="13.0"
        echo "MACOSX_DEPLOYMENT_TARGET=${MACOSX_DEPLOYMENT_TARGET}" >> $GITHUB_ENV
        _PYTHON_HOST_PLATFORM="macosx-13.0-x86_64"
        echo "_PYTHON_HOST_PLATFORM=${_PYTHON_HOST_PLATFORM}" >> $GITHUB_ENV
        ARCHFLAGS="-arch x86_64"
        echo "ARCHFLAGS=${ARCHFLAGS=}" >> $GITHUB_ENV
        PYTHON_VERSION_STR=$(python -c "import sys;print(f'cp{sys.version_info.major}{sys.version_info.minor}')")
        echo "PYTHON_VERSION_STR=${PYTHON_VERSION_STR}" >> $GITHUB_ENV
        CMAKE_OSX_ARCHITECTURES="x86_64"
        echo "CMAKE_OSX_ARCHITECTURES=${CMAKE_OSX_ARCHITECTURES}" >> $GITHUB_ENV

    - name: Checkout submodules
      run: |
        git submodule init
        git submodule update

    - name: Build zlib
      run: |
          git clone https://github.com/madler/zlib.git
          mkdir zlib-build-${PYTHON_VERSION_STR}-${_PYTHON_HOST_PLATFORM}
          cd zlib-build-${PYTHON_VERSION_STR}-${_PYTHON_HOST_PLATFORM}
          cmake ../zlib -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../zlib-install-${PYTHON_VERSION_STR}-${_PYTHON_HOST_PLATFORM}
          make install
          cd ..

    - name: Build ITK
      run: |
        mkdir ITK-build-${PYTHON_VERSION_STR}-${_PYTHON_HOST_PLATFORM}
        cd ITK-build-${PYTHON_VERSION_STR}-${_PYTHON_HOST_PLATFORM}
        cmake \
            -DBUILD_SHARED_LIBS=OFF \
            -DBUILD_TESTING=OFF \
            -DBUILD_EXAMPLES=OFF \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=../ITK-install-${PYTHON_VERSION_STR}-${_PYTHON_HOST_PLATFORM} \
            ../ITK
        make install
        cd ..

    - name: Build samseg for python version ${{ matrix.python-version }} and test
      run: |
        python -m pip wheel . -w ./dist-${PYTHON_VERSION_STR}-${_PYTHON_HOST_PLATFORM} --no-deps --verbose
      env:
        ITK_DIR: ITK-install-${{ env.PYTHON_VERSION_STR }}-${{ env._PYTHON_HOST_PLATFORM }}
        ZLIB_INCLUDE_DIR: zlib-install-${{ env.PYTHON_VERSION_STR }}-${{ env._PYTHON_HOST_PLATFORM }}/include
        ZLIB_LIBRARY: zlib-install-${{ env.PYTHON_VERSION_STR }}-${{ env._PYTHON_HOST_PLATFORM }}/lib/libz.a
        APPLE_ARM64: ${{ env.APPLE_ARM64 }}
        APPLE: ${{ env.APPLE }}
        MACOSX_DEPLOYMENT_TARGET: ${{ env.MACOSX_DEPLOYMENT_TARGET }}
        _PYTHON_HOST_PLATFORM: ${{ env._PYTHON_HOST_PLATFORM }}
        ARCHFLAGS: ${{ env.ARCHFLAGS }}
        CMAKE_OSX_ARCHITECTURES: ${{ env.CMAKE_OSX_ARCHITECTURES }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: macos-wheels-${{ env.PYTHON_VERSION_STR }}-${{ env._PYTHON_HOST_PLATFORM }}
        path: dist-${{ env.PYTHON_VERSION_STR }}-${{ env._PYTHON_HOST_PLATFORM }}/*.whl

  test:
    name: Test the wheel
    needs: build
    strategy:
      # max-parallel: 1
      matrix:
        os: [macos-latest, macos-13]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        # os: [macos-13]
        # python-version: ["3.10"]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Python - set up ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Detect if arm and set wheel variables
      if: runner.arch == 'ARM64' || runner.arch == 'ARM64'
      run: |
        _PYTHON_HOST_PLATFORM="macosx-14.0-arm64"
        echo "_PYTHON_HOST_PLATFORM=${_PYTHON_HOST_PLATFORM}" >> $GITHUB_ENV
        PYTHON_VERSION_STR=$(python -c "import sys;print(f'cp{sys.version_info.major}{sys.version_info.minor}')")
        echo "PYTHON_VERSION_STR=${PYTHON_VERSION_STR}" >> $GITHUB_ENV
        SAMSEG_TEST_PATH=${GITHUB_WORKSPACE}/samseg
        echo "SAMSEG_TEST_PATH=${SAMSEG_TEST_PATH}" >> $GITHUB_ENV

    - name: Detect if x64 and set build variables
      if: runner.arch == 'x64'
      run: |
        _PYTHON_HOST_PLATFORM="macosx-13.0-x86_64"
        echo "_PYTHON_HOST_PLATFORM=${_PYTHON_HOST_PLATFORM}" >> $GITHUB_ENV
        PYTHON_VERSION_STR=$(python -c "import sys;print(f'cp{sys.version_info.major}{sys.version_info.minor}')")
        echo "PYTHON_VERSION_STR=${PYTHON_VERSION_STR}" >> $GITHUB_ENV
        SAMSEG_TEST_PATH=${GITHUB_WORKSPACE}/samseg
        echo "SAMSEG_TEST_PATH=${SAMSEG_TEST_PATH}" >> $GITHUB_ENV

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: macos-wheels-${{ env.PYTHON_VERSION_STR }}-${{ env._PYTHON_HOST_PLATFORM }}
        path: ${{ github.workspace }}


    - name: Install the wheel and test dependencies
      run: |
        python -m pip install samseg*.whl
        python -m pip install pytest
        python -m pip install tensorflow
        cd ..
        python -c "import samseg"
        python -m pytest --pyargs samseg.tests

  publish:
    name: Publish the wheel
    needs: test
    strategy:
      max-parallel: 1
      matrix:
        os: [macos-latest, macos-13]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    runs-on: ${{ matrix.os }}
    if: startsWith(github.ref, 'refs/tags')
    steps:
    - name: Python - set up ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Detect if arm and set wheel variables
      if: runner.arch == 'ARM64' || runner.arch == 'ARM64'
      run: |
        _PYTHON_HOST_PLATFORM="macosx-14.0-arm64"
        echo "_PYTHON_HOST_PLATFORM=${_PYTHON_HOST_PLATFORM}" >> $GITHUB_ENV
        PYTHON_VERSION_STR=$(python -c "import sys;print(f'cp{sys.version_info.major}{sys.version_info.minor}')")
        echo "PYTHON_VERSION_STR=${PYTHON_VERSION_STR}" >> $GITHUB_ENV

    - name: Detect if x64 and set build variables
      if: runner.arch == 'x64'
      run: |
        _PYTHON_HOST_PLATFORM="macosx-13.0-x86_64"
        echo "_PYTHON_HOST_PLATFORM=${_PYTHON_HOST_PLATFORM}" >> $GITHUB_ENV
        PYTHON_VERSION_STR=$(python -c "import sys;print(f'cp{sys.version_info.major}{sys.version_info.minor}')")
        echo "PYTHON_VERSION_STR=${PYTHON_VERSION_STR}" >> $GITHUB_ENV

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: macos-wheels-${{ env.PYTHON_VERSION_STR }}-${{ env._PYTHON_HOST_PLATFORM }}
        path: ${{ github.workspace }}

    - name: Upload to PyPI
      run: |
        python -m pip install twine
        python -m twine upload *.whl -u __token__ -p "$PASSWORD"
      env:
        PASSWORD: ${{ secrets.PYPI_TOKEN }}
