name: MacOS Build

on:
  push:
    branches: [ dev, itk_update ]
    tags:
      - v*
  pull_request:
    branches: [ dev ]
  workflow_dispatch:

jobs:
  example_matrix:
    strategy:
      matrix:
        os: [macos-latest, macos-13]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Install Python
      run: |

        brew install python@3.8
        brew install python@3.9
        brew install python@3.10
        brew install python@3.11
        
    - name: Checkout submodules
      run: | 
        git submodule init
        git submodule update

    - name: Build zlib
      run: |
         git clone https://github.com/madler/zlib.git
         mkdir zlib-build
         cd zlib-build
         cmake ../zlib -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../zlib-install
         make install
         cd ..

    - name: Build ITK
      run: |
        mkdir ITK-build
        cd ITK-build
        cmake \
            -DBUILD_SHARED_LIBS=OFF \
            -DBUILD_TESTING=OFF \
            -DBUILD_EXAMPLES=OFF \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=../ITK-install \
            ../ITK
        make install
        cd ..

    - name: Build samseg
      run: |
        .github/workflows/macos_build.sh /usr/local/bin/python3.8
        .github/workflows/macos_build.sh /usr/local/bin/python3.9
        .github/workflows/macos_build.sh /usr/local/bin/python3.10
        .github/workflows/macos_build.sh /usr/local/bin/python3.11
      env:
        ITK_DIR: ITK-install
        ZLIB_INCLUDE_DIR: zlib-install/include
        ZLIB_LIBRARY: zlib-install/lib/libz.a

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: macos-wheels
        path: dist/*.whl

    - name: Upload to PyPI
      if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags') }}
      run: |
        $PYTHON -m pip install twine
        $PYTHON -m twine upload dist/*.whl -u __token__ -p "$PASSWORD"
      env:
        PASSWORD: ${{ secrets.PYPI_TOKEN }}
        PYTHON: /Library/Frameworks/Python.framework/Versions/3.8/bin/python3
